#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


#define DEFAULT 0
#define LOWER 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            // |   ESC   |    Q    |    W    |    E    |    R    |    T    |                                          |    Y    |    U    |    I    |    O    |    P    |    \    |
            // |   TAB   |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |    ;    |    '    |
            // |  SHIFT  |    Z    |    X    |    C    |    V    |    B    | CTRL+A  | CTRL+C  |  |  CTRL+V |  CTRL+X |    N    |    M    |    ,    |    .    |    /    |  R CTRL |
            //                               |   GUI   |   DEL   | RETURN  |  SPACE  | ESCAPE  |  |  RETURN |  SPACE  |   TAB   |   BSPC  |  R ALT  |

            bindings = <
&mt LSHIFT W	&mt LSHIFT Q	&mt LSHIFT E	&mt LSHIFT R	&mt LSHIFT T	&mt LSHIFT Y	&mt LSHIFT U	&mt LSHIFT I	&mt LSHIFT O	&mt LSHIFT P
&mt LSHIFT A	&mt LSHIFT S	&mt LSHIFT D	&mt LSHIFT F	&mt LSHIFT G	&mt LSHIFT H	&mt LSHIFT J	&mt LSHIFT K	&mt LSHIFT L	&kp BSPC 
&mt LSHIFT Z	&mt LSHIFT X	&mt LSHIFT C	&mt LSHIFT V	&mt LSHIFT B	&mt LSHIFT N	&mt LSHIFT M	&mo LOWER	    &none	        &none
            >;
        };
        lower_layer {
            bindings = <
&mt LSHIFT N1	&mt LSHIFT N2	&mt LSHIFT N3	&mt LSHIFT N4	&mt LSHIFT N5		&mt LSHIFT N6		&mt LSHIFT N7	&mt LSHIFT N8	&mt LSHIFT N9	&mt LSHIFT N0
&bt BT_SEL 0	&bt BT_SEL 1	&bt BT_SEL 2	&td_slash	    &mt LSHIFT MINUS	&kp LEFT		    &kp DOWN	    &kp UP		    &kp RIGHT	    &kp ENTER 
&kp LG(Z)	    &kp LS(LG(Z))	&kp LG(C)	    &kp LG(V)	    &mt LSHIFT EQUAL	&mt LSHIFT LBKT		&mt LSHIFT RBKT	&none		    &kp ESC		    &kp TAB
            >;
        };
    };
};
